html {
    body {
        #board{
            display: grid;
            grid-template-columns: repeat(auto, 3);
            grid-template-rows: repeat(auto, 3);
            .row{

                .cell{
                    display: inline-block;
                    background-color: green;
                    margin: 2px;
                    width: 100px;
                    height: 100px;
                }

            }
        }
    }
}
